@{
    ViewData["Title"] = "Create a Flavor!";
}

@model SweetTreat.Models.Flavor

<div class="text-center">
    <h1 class="display-4">New Flavor Form</h1>
</div>

<div>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)

    <input type="submit" value="Add!" class="btn btn-default" />
        
    }
</div>